#pragma once

const char* SSID = "your_wifi_ssid";
const char* PASSWORD = "your_wifi_password";
const char* CLIENT_ID = "your_client_id";
const char* CLIENT_SECRET = "your_client_secret";
const char* REFRESH_TOKEN = "your_refresh_token";
